*, *::before, *::after {
  box-sizing: border-box;
}


:root {
  --color-page-bg: whitesmoke;
  --color-header-bg: burlywood;
  --color-header-text: white;
  --color-page-text: black;

  
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--color-page-bg);
  color: var(--color-page-text);

  font-family: 'Roboto', sans-serif;
}