.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0 0 0;
    margin: 0;
    gap: 1rem;
    background-color: rgb(15, 15, 15);
}

.footer-contact, .footer-follow {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0 8rem;
    margin: 0;
}

.footer-link {
    padding: 0;
    font-size: 1.2rem;
    color: var(--color-header-text);
    text-decoration: none;
}

.footer-text {
    font-size: 0.9rem; 
    color: var(--color-header-text);
    padding: 1.5rem 0 1rem 0;
}
.footer-image-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row; 
    padding: 1rem;
}

.footer-image {
    width: auto;
    height: 30px; 
    margin-right: 0.5rem; 
}

.footer-image-text {
    margin: 0; 
    font-size: 0.9rem;
    color: var(--color-header-text); 
    display: inline-block;
}



.footer-bottom{
    color: grey;
    font-size: 0.75rem;
    text-align: left;
    padding: 0.5rem 1rem 0 1rem;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-contact, .footer-follow {
        padding: 0 1rem;
        align-items: center;
        width: 100%;
    }

    .footer-bottom {
        text-align: center;
        padding: 0.5rem;
    }

    .footer-link, .footer-text {
        text-align: center;
    }
}