*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --color-page-bg: black;
  --color-page-text: white;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-page-bg);
  color: var(--color-page-text);
}